/* BIG TABLETS TO 1200px (widths smaller that the 1140 row) */
@media screen and (max-width: 1200px) {
  header nav #logo {
    margin-left: 20px;
  }

  header nav .main-nav {
    margin-right: 20px;
  }

  #features {
    height: 600px;
  }

  .section-meals {
    height: 650px;
  }

  #steps .iphone-img img {
    margin-left: 300px;
  }

  footer {
    height: 200px;
  }

  footer .row-footer .copy {
    margin-right: 300px;
  }
}

/* SMALL TABLETS TO BIG TABLETS */
 @media only screen and (max-width: 1023px) {
   header .hero-text-box {
     margin-left: 100px;
   }

   header nav #logo {
     margin-left: 50px;
   }

   header nav .main-nav {
     margin-right: 50px;
   }

   #features {
     height: 650px;
   }

   .section-meals {
     height: 550px;
   }

   #steps .iphone-img img {
     margin-left: 200px;
   }

    .section-offers .plan-box div ul {
     margin-left: -100px;
    }
    
    footer .row-footer .copy {
      margin-left: 250px;
    }
} 

/* SMALL PHONES TO SMALL TABLETS */
@media only screen and (max-width: 767px) {
  header .hero-text-box {
    margin-left: 200px;
  }

  #features {
    height: 750px;
  }

  .section-meals {
    height: 420px;
  }

  #steps .iphone-img img {
    margin-left: 100px;
  }

  #cities .col {
    margin-right: -20px;
    margin-left: -1px;
  }

  #cities img {
    width: 150px;
  }

  .section-testimonials {
    height: 700px;
  }

  .section-testimonials blockquote cite {
    font-size: 0.57rem;
  }

  .section-offers .plan-box {
    height: 520px;
  }

  .section-offers .btn-full, .section-offers .btn-middle {
    margin-top: 50px;
  }

  footer {
    height: 300px;
  }

  footer .span-1-of-2 {
    width: 400px;
  }
} 

/* SMALL PHONES: FROM 0 TO 468PX */
@media only screen and (max-width: 480px) {
  html, body {
    overflow-x: hidden;
  }

  header .hero-text-box {
    width: 480px;
    margin-left: auto;
  }

  #features {
    padding-top: 50px;
    height: 950px;
  }

  #features .span-1-of-4 i {
    content-visibility: hidden;
  } 

  .section-meals {
    height: 300px;
  }

  #steps .iphone-img img {
    margin-left: 50px;
  }
  #steps .row-steps h2 {
    margin: 0 50px;
  }

  #cities {
    height: auto;
  }

  #cities .col {
    display: flex;
    margin-right: -20px;
    margin-left: -1px;
    width: fit-content;
    flex-direction: column;
  }

  #cities .col .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 480px;
    align-items: end;
    margin-left: 10px;
  }

  .section-testimonials {
    height: 1000px;
  }

  .section-testimonials blockquote cite {
    font-size: 1rem;
  }

  .section-offers {
    height: 1100px;
  }

  .section-offers .plan-box {
    height: auto;
  }

  .section-offers .plan-box div ul {
    margin-left: -130px;
  }

  .section-offers .btn-end {
    margin-top: 50px;
  }

  .section-form {
    height: 850px;
  }

  footer {
    height: 400px;
  }

  footer .row-footer {
    height: 200px;
  }

  footer .span-1-of-2 {
    width: 300px;
    justify-content: flex-start;
  }

  footer .footer-nav {
    width: 150px;
  }

  footer .social-links {
    margin-right: 1000px;
    display: inline-flex;
  }

  footer .row-footer .copy {
    margin-left: 180px;
  }

} 


